<?xml version="1.0" ?>
<model>
  <name> allegro_hand </name>
  <version> 1.0 </version>
  <sdf version="1.7"> model.sdf </sdf>

  <author>
    <name>Abed Al Rahman Al Mrad </name>
    <email> abed-al-rahman.al-mrad.1@ens.etsmtl.ca </email>
  </author>

  <description>
    A model for the allegro hand
  </description>

  <depend>
  </depend>
</model>